# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# dotenv files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/